/hyprland/.config/gtk-3.0/colors.css
/hyprland/.config/gtk-3.0/gtk.css
/hyprland/.config/gtk-4.0/colors.css
/hyprland/.config/hypr/colors.conf
/hyprland/.config/rofi/colors.rasi
/hyprland/.config/waybar/colors.css
/hyprland/.config/waybar/colors.css
/hyprland/.config/wlogout/style.css
/hyprland/.config/dunst/dunstrc
/hyprland/.config/hypr/colors.lua
