/hyprland-smol-chattini/.config/gtk-3.0/colors.css
/hyprland-smol-chattini/.config/gtk-3.0/gtk.css
/hyprland-smol-chattini/.config/gtk-4.0/colors.css
/hyprland-smol-chattini/.config/hypr/colors.conf
/hyprland-smol-chattini/.config/rofi/colors.rasi
/hyprland-smol-chattini/.config/waybar/colors.css
